<div class="inner cover">
  <h1 class="cover-heading">Aloha.</h1>
  <p class="lead">We live in exciting times. Technology is part of that excitment. The world, it's knowlegde as well as it's fortune is literally at our fingertips.  I aim to help you create the future you've always imagined.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>